<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OwlTech</title>
        <link rel="icon" type="image/jpg" href="/images/owl.png" />
        <link rel="stylesheet" href="/styles/home.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>

    <div class="container">
        <div class="jumbotron mt-4">
        <div class="logo">
            <h1 class="display-4">OwlTech</h1>
            <img src="/images/owl.png" width="80px" alt="">
        </div>
            <p class="lead">The wise way to solve modern problems</p>
            <hr class="my-4">

            <h6>Nosso Projeto</h6>
            <p>Nesta época onde uma epidemia mundial sobrecarrega os serviços de atendimentos saúde, nós do grupo OwlTech entramos em ação para desenvolver uma aplicação que melhore os hospitais e serviços de saúde nessa crise.</p>

            <h6>Como funciona nosso sistema?</h6>
            <p>Quando um paciente procurar um hospital ele entrará em uma lista que guarda todas pessoas que procuraram por esse hospital em específico.</p>
            <p>Em seguida ele será direcionado para uma fila de atendimento que atende os pacientes por ordem de chegada.</p>
            <p>Ao ser atendido, esse pacientes deve responder algumas perguntas e fazer testes se necessário, e com base em seu resultado ele poderá ser internado ou liberado do hospital. Caso não haja vaga para internação o paciente será redirecionado para outra fila onde estão os pacientes a espera de uma vaga.</p>
            <p>Caso algum parente queira consultar qual o status de algum paciente, é só digitar o CPF dele uma caixa de texto que estará disponível para o público, através do site do hospital, visando tranparência com as famílias.</p>
            <p>Para liberar uma vaga em algum leito é só digitar o CPF do paciente e indicar "alta" ou "óbito".</p>
            <a class="btn btn-primary btn-lg" href="/views/app.html" role="button">Testar Protótipo</a>
        </div>


        
    </div><!-- FECHA container -->
    </body>
</html>